.tippy-box[data-theme~=magneticl]
{background-color:#373C42;font-weight:400;font-size: 12px;font-family: Inter, sans-serif;line-height: 18px; text-align: left;border-radius: 6px;padding-left: 9px;padding-right: 9px; padding-top: 4px;padding-bottom: 4px;}
.tippy-box[data-theme~=magneticl][data-placement^=top]>
.tippy-arrow:before{border-top-color:#373C42}
.tippy-box[data-theme~=magneticl][data-placement^=bottom]>
.tippy-arrow:before{border-bottom-color:#373C42}
.tippy-box[data-theme~=magneticl][data-placement^=left]>
.tippy-arrow:before{border-left-color:#373C42}
.tippy-box[data-theme~=magneticl][data-placement^=right]>
.tippy-arrow:before{border-right-color:#373C42}
.tippy-box[data-theme~=magneticl]>
.tippy-backdrop{background-color:#373C42}
.tippy-box[data-theme~=magneticl]>
.tippy-svg-arrow{fill:#373C42}